<!-- footer.imprint row -->

<row>
  <columns small="12" large="4">
    <center>
    <img alt="Columbia Southern University Logo" src="http://www.columbiasouthern.edu/CSU2014/media/logos/internal/logo.png" />
    </center>
  </columns>
  <columns small="12" large="8">
    <small><center class="small">21982 University Lane | Orange Beach, AL 36561
      <br /><a href="tel:+18779778449">877.977.8449</a> | Copyright &copy; 2016
    </center></small>
  </columns>
</row>

<!-- End footer.imprint row -->
